* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  color: #EFECEC;
}

main {
  width: 450px;
  height: 120px;
  display: flex;
  color: #EFECEC;
  letter-spacing: 2px;
}

.box {
  padding: 1rem;
  font-size: 3rem;
}

.dd {
  padding: 1rem 0;
  font-size: 3rem;
}
